<!doctype html>
<html>
  <head>
    <title>챗봇 체험</title>
  </head>
  <body>

  <center>
  <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Chatbot.jpg" width=30%></img>
  <h2>챗봇 체험</h2>

  <form method=post action="/results">

    <input type = "text" placeholder="텍스트 입력" size='30' name = "input_text" autofocus> 

  <!-- <p><input type=submit style="background-color:#003366; color:white" value='입력' ></p> -->
  <p><input type=submit value='입력(클릭)' ></p>
  </form>

  </center>

  </body>
</html>